* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-auto-rows: auto 1fr auto;
    min-height: 100dvh;
    max-width: 800px;
    margin: 0;
    margin-inline: auto;
    color: black;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 150px;
    max-width: 100dvw;
    padding: 10px;
}

.main {
    background-color: white;
    height: 100%;
}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    padding-inline: 20px;
}

.post-container {
    margin-bottom: 2rem;
}

.profile-more-bar {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    padding: 5px;
}

.profile-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
}

.profile-img-container img {
    width: 100%;
    border-radius: 50%;
}

.post-more-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-content img {
    width: 100%;
    margin-bottom: 5px;
}

.post-actions-bar {
    display: flex;
    gap: 10px;
    padding-inline: 5px;
    width: 100%;
}

.post-actions-bar img,
.post-more-actions img {
    width: 20px;
}

.post-actions-bar :nth-last-child(1) {
    margin-left: auto;
}

.post-like-button,
.post-comment-button {
    display: flex;
    align-content: center;
    text-align: center;
    gap: 5px;
}

.post-like-button img,
.post-comment-button img {
    width: 20px;
    height: 20px;
}

.post-like-button p,
.post-comment-button p {
    display: inline;
    margin: 0;
}

.post-likes-counter {
    padding-inline: 5px;
}

.profile-and-caption {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    max-width: 98dvw;
}

.profile-and-caption .caption-user-name {
    font-weight: bold;
}

.profile-and-caption .caption-user-name,
.profile-and-caption p {
    margin: 0;
}

.cropped-caption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption-show-more-button,
.caption-show-less-button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.logo-nav-buttons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 5px;
}

.instagram-logo {
    width: 100px;
}

.likes-nav-button,
.messenger-nav-button {
    width: 20px;
}

.stories-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.story-item {
    width: 60px;
    border-radius: 50%;
}

.footer img {
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}
